.quotes {
  background-color: white;
  margin-bottom: 20px;
  padding: 40px;
}
.quote {
  background-color: rgb(243, 243, 226);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}
.quote > p {
  padding-top: 10px;
  width: fit-content;
  margin-left: auto;
}
